<div layout-gt-sm="row" layout-sm="column">
  <navbar poi-id="poiAdminInboxCtrl.poi.$id"></navbar>
  <div flex="90">
    <md-content class="inbox" layout="column" layout-align="center center" style="background-color:inherit">
      <h2>Boite de réception</h2>
      <md-toolbar class="md-whiteframe-z1">
        <div class="md-toolbar-tools" layout="row" layout-align="center center">
          <i flex="5" class="fa fa-facebook"></i>
          <span flex="20" class="user">Jordan Pillon</span>
          <span flex="65" class="titre">Votre boutique est super</span>
          <i flex="5" class="fa fa-reply fa-2x"></i>
          <i flex="5" class="fa fa-times"></i>
        </div>
      </md-toolbar>
      <md-toolbar class="md-whiteframe-z1">
        <div class="md-toolbar-tools" layout="row" layout-align="center center">
          <i flex="5" class="fa fa-twitter"></i>
          <span flex="20" class="user">Marteau Nicolas</span>
          <span  flex="65" class="titre"><strong>@Trinitaires</strong> Quels sont vos horaires d'ouverture ?</span>
          <i flex="5" class="fa fa-reply fa-2x"></i>
          <i flex="5" class="fa fa-times"></i>
        </div>
      </md-toolbar>
      <md-content flex>
        <md-input-container>
          <label for="corps">Répondre</label>
          <textarea id="corps" ng-model="corps" required/>
        </md-input-container>
        <md-button class="md-primary md-raised">Envoyer</md-button>
      </md-content>
    </md-content>
  </div>
</div>

