<ul flex="10" flex-gt-sm="5" class="navbar" layout-gt-sm="column" layout-sm="row">
  <li id="accueil"><a><i class="md-accent fa fa-home fa-3x"></i><h1 hide show-lg show-gt-lg>Accueil</h1></a></li>
  <li id="publication"><a ng-href="#/poiAdmin/78/post"><i class="fa fa-edit fa-3x"></i><h1 hide show-lg show-gt-lg>Publication</h1></a></li>
  <li id="analytics"><a ng-href="#/poi"><i class="fa fa-bar-chart fa-3x"></i><h1 hide show-lg show-gt-lg>Analytics</h1></a></li>
  <li id="reception"><a><i class="fa fa-envelope-o fa-3x"></i><h1 hide show-lg show-gt-lg>Réception</h1></a></li>
  <li id="parametres"><a ng-href="#/poiAdmin/{{poiId}}/settings"><i class="fa fa-cog fa-3x"></i><h1 hide show-lg show-gt-lg>Paramètres</h1></a></li>
</ul>
