@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

body {
  background-color: rgba(0,0,0,0.02);
}

.angular-google-map-container { height: 600px; }


[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;
    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

.monitor md-card {
  background-color: white;
}

.stat {
  list-style: none;
  padding-left: 0;
}

.stat li + li {
  padding-top: 1.1rem;
}

.stat-content {
  padding: 1rem 2rem;
  h1 {
    margin: 0;
  }
}

.navbar {
  list-style: none;
  margin: 0;
  position:relative;
  z-index: 5;
  text-align: center;
  padding: 1rem;
  height: 100%;
  h1 {
    font-size: 0.8rem;
    margin: 0;
  }
  a {
    color:rgb(255, 64, 129);
    text-decoration: none;
  }
  li {
    border-radius: 5px;
    padding: 0.4rem;
  }
  li.active {
      background-color: rgb(255, 64, 129);
      a {
        color: white;
      }
    }
  li + li {
    margin-top: 1.5rem;
    height: 100%;
  }
}
@media (min-width:960px){
  .navbar li {
    border: 1px solid rgb(255, 64, 129);
  }
}

@media (max-width:600px){
  li {
    margin-top: 1.5rem;
  }
}

md-input-container.md-default-theme label {
  color: rgba(0,0,0,0.54);
}

.md-button.md-default-theme.md-raised {
  background-color: white;
}

#corps,#titre {
  background-color: white;
  border-radius: 2px;
}

.filtre {
  h4 {
    margin: 0;
  }
  md-radio-button {
    margin: 0.6rem;
  }
}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
all your sass files automatically */
// injector
// endinjector
