<div layout-gt-sm="row" layout-sm="column">
    <div flex="5" layout-gt-sm="column" layout-sm="row" style="border-right:1px solid grey; text-align: center; margin-right:2px;">
        <a><i class="md-accent fa fa-home fa-3x" style="color:rgb(255, 64, 129);"></i></a>
        <a><i class="fa fa-edit fa-3x" style="color:rgb(255, 64, 129);"></i></a>
        <a><i class="fa fa-envelope-o fa-3x" style="color:rgb(255, 64, 129);"></i></a>
    </div>

    <div flex="90">
        <md-input-container>
            <label>Titre</label>
            <input type="text" ng-model="titre" required md-maxlength="140">
        </md-input-container>
        <md-input-container>
            <label>Corps</label>
            <textarea ng-model="corps" required/>
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center">
            <div flex="25" layout-align="center center">
                <md-button class="md-fab">
                <i class="fa fa-envelope-o fa-2x"></i>
            </md-button></div>
            <div flex="25" layout-align="center center">
                <md-button class="md-fab">
                <i class="fa fa-twitter fa-2x"></i>
            </md-button></div>
            <div flex="25" layout-align="center center">
                <md-button class="md-fab">
                <i class="fa fa-mobile fa-2x"></i>
            </md-button></div>
            <div flex="25" layout-align="center center">
                <md-button class="md-fab">
                <i class="fa fa-wordpress fa-2x"></i>
            </md-button></div>
        </section>
        <br>
        <md-toolbar class="md-accent" ng-click="toggle=!toggle">
            <div class="md-toolbar-tools">
                    <span>Ciblage</span>&nbsp;<i class="fa" ng-class="{'fa-caret-down' : toggle , 'fa-caret-up': !toggle}"></i>
            </div>
        </md-toolbar>
        <md-content layout-padding ng-show="toggle">
            <div layout>
                <div flex="10" layout layout-align="center center">
                    <span class="md-body-1">Age Min.</span>
                </div>
                <md-slider flex ng-change="poiCtrl.changeAge(poiCtrl.minAgeSelected, poiCtrl.maxAgeSelected)" min="{{poiCtrl.minAge}}"  max="{{poiCtrl.maxAgeSelected}}" ng-model="poiCtrl.minAgeSelected" aria-label="red" id="min-age-slider" class>
                </md-slider>
                <div flex="20" layout layout-align="center center">
                    <input type="number" ng-change="poiCtrl.changeAge(poiCtrl.minAgeSelected, poiCtrl.maxAgeSelected)" ng-model="poiCtrl.minAgeSelected" min="{{poiCtrl.minAge}}" max="{{poiCtrl.maxAgeSelected}}" aria-label="age-min" aria-controls="red-slider">
                </div>
            </div>
            <div layout>
                <div flex="10" layout layout-align="center center">
                    <span class="md-body-1">Age Max.</span>
                </div>
                <md-slider flex ng-change="poiCtrl.changeAge(poiCtrl.minAgeSelected, poiCtrl.maxAgeSelected)" min="{{poiCtrl.minAgeSelected}}" max="{{poiCtrl.maxAge}}" ng-model="poiCtrl.maxAgeSelected" aria-label="red" id="max-age-slider" class>
                </md-slider>
                <div flex="20" layout layout-align="center center">
                    <input type="number" ng-change="poiCtrl.changeAge(poiCtrl.minAgeSelected, poiCtrl.maxAgeSelected)" ng-model="poiCtrl.maxAgeSelected" min="{{poiCtrl.minAgeSelected}}" max="{{poiCtrl.maxAge}}" aria-label="age-max" aria-controls="red-slider">
                </div>
            </div>
            <p>Sexe </p>
            <md-radio-group ng-model="data.group1">
                <md-radio-button value="Apple" class="md-primary">Homme</md-radio-button>
                <md-radio-button value="Banana"> Femme </md-radio-button>
            </md-radio-group>
        </md-content>

        <md-button md-no-ink class="md-primary" style="position:relative !important;">Envoyer</md-button>
    </div>
</div>

