<div layout-gt-sm="row" layout-sm="column">
    <navbar poi-id="poiAdminSettingstCtrl.poi.$id"></navbar>

    <md-progress-circular md-mode="indeterminate" ng-if="poiAdminSettingstCtrl.poiLoading"></md-progress-circular>
    <div flex="90" ng-if="!poiAdminSettingstCtrl.poiLoading">
            <h2>{{poiAdminSettingstCtrl.poi.name}}</h2>
            <h4>{{poiAdminSettingstCtrl.poi.adresse}}</h4>
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span><i class="fa fa-facebook"/>&nbsp;Facebook</span>
            </h2>
        </md-toolbar>

        <div ng-show="!poiAdminSettingstCtrl.poi.fb_page_id">
            <md-button ng-click="poiAdminSettingstCtrl.login()">Se connecter via facebook</md-button>
            <div layout-gt-sm="row" layout-sm="column">
                <md-card ng-repeat="page in poiAdminSettingstCtrl.pages">
                    <h2>{{page.name}}</h2>
                    <small>{{page.category}}</small>
                    <md-button ng-click="poiAdminSettingstCtrl.savePageToken(page)">Enregistrer
                    </md-button>
                </md-card>
            </div>
        </div>
        <div ng-show="poiAdminSettingstCtrl.poi.fb_page_id">
            <md-card ng-if="!poiAdminSettingstCtrl.fbLoading">
                <h2><i class="fa fa-check" style="color:green"/>{{poiAdminSettingstCtrl.page.name}}</h2>
                <small>{{poiAdminSettingstCtrl.page.category}}</small>
            </md-card>
         <md-progress-circular md-mode="indeterminate" ng-if="poiAdminSettingstCtrl.fbLoading"></md-progress-circular>
        </div>

        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span><i class="fa fa-facebook"/>&nbsp;Twiter</span>
            </h2>
        </md-toolbar>
        <div >
            <md-button ng-click="poiAdminSettingstCtrl.login()">Se connecter via twitter</md-button>

        </div>

        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span><i class="fa fa-envelope-o"/>&nbsp;Email</span>
            </h2>
        </md-toolbar>
        <div >
            <md-button ng-click="poiAdminSettingstCtrl.login()">Gérer les comptes e-mailr</md-button>

        </div>
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span><i class="fa fa-wordpress"/>&nbsp;Wordpress</span>
            </h2>
        </md-toolbar>
        <div >
            <md-button ng-click="poiAdminSettingstCtrl.login()">Site Wordpress</md-button>
        </div>
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span><i class="fa fa-mobile-o"/>&nbsp;SMS</span>
            </h2>
        </md-toolbar>
        <div >
            <md-button ng-click="poiAdminSettingstCtrl.login()">Gérer les options SMS</md-button>
        </div>
    </div>
</div>

