<h2 style="width:100%;text-align:center;margin:1rem">{{poi.name}}, <small>{{poi.adresse}}</small></h2>
<div class="monitor" layout="row">
  <md-content flex layout-gt-sm="row" layout-sm="column" style="background-color:inherit;">
    <md-card flex="30">
      <md-content class="stat-content" layout-margin>
        <h1 class="md-display-2">En ce moment</h1>
        <h4>{{poi.users | visitors | length }} visiteurs présents</h4>
        <ul>
          <li ng-repeat="visitor in poi.users | visitors">{{visitor.name}} <span am-time-ago="visitor.entered"></span> </li>
        </ul>
      </md-content>
    </md-card>
    <md-card flex>
      <md-content class="stat-content" layout-margin>
        <h1 class="md-display-2">Statistiques</h1>
        <h4>{{poi.users | visitors:true | length}} visiteurs </h4>
        <ul class="stat">
          <li layout-gt-sm="row" layout-sm="column"> Age moyen
            <md-progress-linear class="md-accent" style="margin-left:20px;margin-top:0.3rem" flex md-mode="determinate" ng-value="poi.users | visitors:true | pluck:'age' | mean "></md-progress-linear>
          </li>
          <li layout-gt-sm="row" layout-sm="column">Durée moyenne
            <md-progress-linear class="md-accent" style="margin-left:20px;margin-top:0.3rem" flex md-mode="determinate" ng-value="poi.users | visitors:true | duration | mean"></md-progress-linear>
          </li>
        </ul>
      </md-content>
    </md-card>
  </md-content>
</div>


