<div layout-gt-sm="row" layout-sm="column">
  <navbar></navbar>
  <div flex="90" layout="column" layout-align="center center">
    <md-select class="md-accent" style="font-size:200%;font-weigth:300;margin:auto" placeholder="Points d'intérêt" ng-model="poiCtrl.selectedPoi" ng-change="poiCtrl.location(poiCtrl.selectedPoi)">
      <md-option ng-repeat="poi in poiCtrl.pois | orderBy:'name'" ng-value="poi">{{poi.name}}</md-option>
    </md-select>
    <poi-detail style="width:100%;" ng-if="poiCtrl.selectedPoi" poi="poiCtrl.selectedPoi" close-me="poiCtrl.close()"></poi-detail>
  </div>
</div>
<md-toolbar style="margin-top:1rem" class="md-accent" ng-click="toggle=!toggle">
  <div class="md-toolbar-tools">
    <span>Filtres</span><i class="fa" style="margin-left:15px;" ng-class="{'fa-caret-down' : toggle , 'fa-caret-right': !toggle}"></i>
  </div>
</md-toolbar>
<md-content class="filtre" flex layout-padding ng-show="toggle">
  <div layout class="filtre-age">
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">Age Min.</span>
    </div>
    <md-slider flex ng-change="poiCtrl.changeAge(poiCtrl.minAgeSelected, poiCtrl.maxAgeSelected)" min="{{poiCtrl.minAge}}"  max="{{poiCtrl.maxAgeSelected}}" ng-model="poiCtrl.minAgeSelected" aria-label="red" id="min-age-slider" class>
    </md-slider>
    <div flex="20" layout layout-align="center center">
      <input type="number" ng-change="poiCtrl.changeAge(poiCtrl.minAgeSelected, poiCtrl.maxAgeSelected)" ng-model="poiCtrl.minAgeSelected" min="{{poiCtrl.minAge}}" max="{{poiCtrl.maxAgeSelected}}" aria-label="age-min" aria-controls="red-slider">
    </div>
  </div>
  <div layout>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">Age Max.</span>
    </div>
    <md-slider flex ng-change="poiCtrl.changeAge(poiCtrl.minAgeSelected, poiCtrl.maxAgeSelected)" min="{{poiCtrl.minAgeSelected}}" max="{{poiCtrl.maxAge}}" ng-model="poiCtrl.maxAgeSelected" aria-label="red" id="max-age-slider" class>
    </md-slider>
    <div flex="20" layout layout-align="center center">
      <input type="number" ng-change="poiCtrl.changeAge(poiCtrl.minAgeSelected, poiCtrl.maxAgeSelected)" ng-model="poiCtrl.maxAgeSelected" min="{{poiCtrl.minAgeSelected}}" max="{{poiCtrl.maxAge}}" aria-label="age-max" aria-controls="red-slider">
    </div>
  </div>
  <div layout>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">Sexe</span>
    </div>
    <md-radio-group ng-model="data.group1">
      <md-radio-button value="male">Homme</md-radio-button>
      <md-radio-button value="female"> Femme </md-radio-button>
    </md-radio-group>
  </div>
</md-content>
<ui-gmap-google-map center='poiCtrl.map.center' zoom='poiCtrl.map.zoom'>
    <ui-gmap-marker ng-repeat="poi in poiCtrl.pois" idKey="$index" coords="{latitude: poi.lat, longitude: poi.lon}" click="poiCtrl.markerClicked(poi)"></ui-gmap-marker>
    <ui-gmap-layer namespace="visualization" type="HeatmapLayer" options="{radius: 50}" show="true" onCreated ="poiCtrl.heatLayerCreation" ></ui-gmap-layer>
</ui-gmap-google-map>
